/venv
.gunicorn.pid
*.log
.sass-cache
*.un~
*.pgdump
*.pyc

# komodoedit project files
*.komodoproject
.komodotools

/snipt/settings_local.py
/public/media/cache
/public/static/*
!/public/static/.gitkeep
